/* Colors */
/* Mixins */
/* Turbonomic Styles */
/* line 24, ../scss/edits.scss */
h2 {
  margin-top: 0.4em !important;
  margin-bottom: .5em;
}

/* line 29, ../scss/edits.scss */
p {
  font-size: 16px;
  margin-bottom: 1em;
}
/* line 32, ../scss/edits.scss */
p:last-of-type {
  margin: 0;
}

/* line 37, ../scss/edits.scss */
.btn {
  background: #2C9427;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* line 43, ../scss/edits.scss */
.custom-header {
  display: flex;
  height: 60vh;
  align-items: center;
}
/* line 47, ../scss/edits.scss */
.custom-header span#custom-header-tagline {
  max-width: 750px;
  width: 100%;
  margin: 1em auto 0 auto;
}

/* line 54, ../scss/edits.scss */
.gregCta {
  background: gold;
  padding-top: 2.5em;
  padding-bottom: 2.5em;
}
/* line 59, ../scss/edits.scss */
.gregCta p {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.3em;
  font-weight: 300;
  text-transform: none;
  color: #111;
  text-align: center;
  margin: 0;
}
/* line 68, ../scss/edits.scss */
.gregCta a {
  color: #111;
  padding: 0 .3em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}
/* line 73, ../scss/edits.scss */
.gregCta .ctaForm {
  max-width: 950px;
  margin: .5em auto;
  display: flex;
  font-size: 16px;
}
/* line 78, ../scss/edits.scss */
.gregCta .ctaForm input {
  width: 78%;
  background: transparent;
  border: 0px;
  padding: 1em;
  background: #fff;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
/* line 86, ../scss/edits.scss */
.gregCta .ctaForm input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1em;
}
/* line 90, ../scss/edits.scss */
.gregCta .ctaForm input::-moz-placeholder {
  /* Firefox 19+ */
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1em;
}
/* line 94, ../scss/edits.scss */
.gregCta .ctaForm input:-ms-input-placeholder {
  /* IE 10+ */
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1em;
}
/* line 98, ../scss/edits.scss */
.gregCta .ctaForm input:-moz-placeholder {
  /* Firefox 18- */
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1em;
}
/* line 103, ../scss/edits.scss */
.gregCta .ctaForm .btn {
  font-size: 1em;
  padding: 6px 12px;
  background: #111;
  color: #fff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

/* line 117, ../scss/edits.scss */
#quote-3 .container, #careers .container {
  max-width: 950px;
  margin: 0 auto;
  padding: 5rem 0;
}
/* line 121, ../scss/edits.scss */
#quote-3 .container h2, #careers .container h2 {
  text-align: center;
  margin-top: 0 !important;
  font-weight: 600;
}
/* line 126, ../scss/edits.scss */
#quote-3 .container p, #careers .container p {
  font-size: 18px;
  text-align: center;
}
/* line 130, ../scss/edits.scss */
#quote-3 .container .btn, #careers .container .btn {
  text-shadow: 1px 1px 5px #666;
}

/* line 136, ../scss/edits.scss */
#quote-4 {
  overflow: auto;
  display: flex;
}
/* line 139, ../scss/edits.scss */
#quote-4 .col-sm-7 {
  padding: 2.5em;
}
/* line 141, ../scss/edits.scss */
#quote-4 .col-sm-7 .inner {
  width: 100%;
  max-width: 682.5px;
  float: right;
}
/* line 145, ../scss/edits.scss */
#quote-4 .col-sm-7 .inner h2 {
  text-align: left;
  margin-top: 0 !important;
  font-weight: 600;
  max-width: 450px;
}
/* line 151, ../scss/edits.scss */
#quote-4 .col-sm-7 .inner p {
  font-size: 18px;
  text-align: left;
}
